* {
  margin: 0;
  padding: O;
  box-sizing: border-box;
}
body {
  background-color: #faf8f5;
}
h1 {
  font-size: 50px;
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  font-family: "Lora", serif;
  margin-bottom: 10px;
}
h3 {
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 50px;
}

h2,
h3 {
  text-align: center;
}

.top {
  font-family: "Lora", serif;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: 18px;
}

.bottom {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
  font-family: "Cormorant Garamond", serif;
}

.box {
  margin: 80px;
}

.left-box {
  width: 50%;
}

.right-box {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.small {
  text-align: right;
  font-family: "Lora", serif;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 490px;
}

.btn {
  padding: 10px 40px;
  border: 1px solid #333;
  background-color: #faf8f5;
  color: #000;
  margin-bottom: 100px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}
