* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf8f5;
}

html {
  scroll-behavior: smooth;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s;
  z-index: 1001;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.main-logo img {
  width: 100px;
  height: auto;
}
.main-logo {
  margin-bottom: 0;
  margin-left: 31.45322px;
  margin-top: 23.443px;
}

#logo,
#hamburger-menu {
  position: static;
}

#logo {
  display: flex;
  visibility: hidden;
  padding: 10px;
}

#logo a {
  text-decoration: none;
}

#logo img {
  width: 100px;
  height: auto;
}

#hamburger-menu {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1001;
}

#hamburger-menu span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  transition: all 0.3s ease;
}

#fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  clip-path: circle(0% at 100% 0);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.965);
  color: white;
  transition: clip-path 0.5s ease-in-out;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fullscreen-menu.show {
  clip-path: circle(150% at 100% 0);
}

#fullscreen-menu nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px 0;
  margin: 15px 0;
  text-align: center;
  font-family: "Lora", serif;
}

#hamburger-menu.hamburger-active span:nth-child(1),
#hamburger-menu.hamburger-active span:nth-child(3) {
  background: rgb(250, 246, 246);
}

.hamburger-active span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-active span:nth-child(2) {
  opacity: 0;
}

.hamburger-active span:last-child {
  transform: rotate(-45deg) translate(7px, -6px);
  background: white;
}

#fullscreen-menu nav a {
  display: block;
  border-radius: 50px;

  color: white;
  text-decoration: none;
  padding: 20px 0;
  margin: 40px 0;
  font-size: 30px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

#fullscreen-menu nav a:hover {
  border-radius: 50px;
  color: rgb(0, 0, 0);
  background-color: #faf8f5;
  padding: 20px;
}

.line {
  margin-top: 18px;
}
.thick-line {
  height: 6px;
  background-color: black;
}

.thin-line {
  height: 4px;
  margin-top: 8px;
  background-color: black;
}

.thick-line,
.thin-line {
  margin-left: 50px;
  margin-right: 50px;
}

.main-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 15px;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.image-title span {
  display: inline-block;
  animation: wave 1.5s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.main-image img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.image-title {
  position: absolute;
  top: 0;
  left: 40px;
  margin: 10px;
  color: rgb(4, 4, 4);
  font-family: "Cormorant Garamond", serif;
  margin-top: 30px;
}
.image-title p {
  font-size: 16px;
  letter-spacing: 8px;
  margin-left: 200px;
}

h1 {
  font-size: 110px;
  letter-spacing: 80px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ins-logo {
  margin-bottom: 30px;
}

.vertical-line {
  height: 25vh;
  width: 1px;
  background-color: black;
  left: 50%;
}

.centered-box {
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  padding: 20px;
}

.centered-box p {
  text-align: center;
  margin: 0;
}

.fancy-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.fancy-title h2 {
  text-align: center;
  font-size: 50px;
  color: #333;
  letter-spacing: 3px;
  margin-top: 80px;
  font-family: "Cormorant Garamond", serif;
}

.fancy-title-text {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-family: "Lora", serif;
}

.fancy-title-text p {
  line-height: 4;
  text-align: center;
}

.right-float-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 23%;
  z-index: 1;
  height: auto;
  margin-top: 70%;
}

.image-with-lines-container {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 200px;
}

.center-aligned-image {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.big-box {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-bottom: 100px;
}

.medium-box {
  width: 50%;
}

.left {
  padding-right: 10px;
}

.right {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-box {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.medium-box left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.small-box h2,
.text-box h2 {
  font-size: 48px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Cormorant Garamond", serif;
}

.small-box h2 {
  margin-top: 150px;
  margin-left: 80px;
}

.small-box p {
  line-height: 3;
  margin-left: 180px;
  font-family: "Lora", serif;
  overflow-wrap: break-word;
}

.medium-box.right img {
  width: 50%;
  height: auto;
}

.big-container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.medium-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.medium-container right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-box {
  width: 100%;
  text-align: center;
  margin: 30px 0;
  display: flex;
  align-items: baseline;
  width: 100%;
}
.text-box p {
  text-align: left;
  line-height: 3;
  font-family: "Lora", serif;
}

.centered-img {
  max-width: 60%;
  height: auto;
}

.carousel {
  position: relative;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 50px 0;
}
.cancel a {
  color: black;
  text-decoration: none;
}
.cancel a:hover {
  text-decoration: none;
  cursor: pointer;
}

.carousel-images img {
  width: calc(33.3333% - 106.6667px);
  float: left;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  margin-left: 80px;
  margin-top: 50px;
}

.carousel-images img.active {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgb(9, 9, 9);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.marquee-box {
  width: 100%;
  height: 60px;
  border: 1.5px solid #333;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  animation: scroll 30s linear infinite;
}

.marquee p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(12, 12, 12);
  font-family: "Cormorant Garamond", serif;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.long {
  margin-top: 100px;
}

/* styles.css */
.message-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.decorative-image {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.64;
  max-width: 100%;
  height: 60%;
  margin-left: 160px;
  z-index: 1;
}

.message-text {
  position: relative;
  writing-mode: vertical-rl;
  height: 450px;
  text-orientation: mixed;
  line-height: 3;
  letter-spacing: 3.5px;
  z-index: 2;
  font-family: "Lora", serif;
}

/* styles.css */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.left-image,
.right-image {
  width: 20%;
  height: auto;
  margin-top: 100px;
}

.left-text,
.right-text {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  width: 50%;
  text-align: center;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 0 50px;
}

.gallery-item {
  width: calc(33.333% - 50px);
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item img {
  width: 50%;
  display: block;
  margin-bottom: 20px;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .gallery-item {
    width: calc(25% - 50px);
  }
}

@media screen and (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 50px);
  }
}

.price {
  margin-bottom: 5px;
  font-size: 1em;
  font-family: "Lora", serif;
}

.buy-button {
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
  padding: 6px 35px;
  margin-top: 30px;
  border: 1px solid #333;
  border-radius: 50px;
  background-color: #faf8f5;
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
}

.buy-button:hover {
  color: #fff;
  background-color: rgb(17, 17, 17);
}
/* iphone */
.carousel-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.prevBtn,
.nextBtn {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 24px;
  margin-left: 50px;
  margin-right: 50px;
  user-select: none;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.custom-image-container {
  display: flex;
  width: 100%;
}

.custom-image-box {
  flex: 0 0 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.custom-image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.custom-image-box.active img {
  transform: scale(0.8);
}

.custom-image-box:not(.active) img {
  transform: scale(0.6);
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-box {
  background-color: #faf8f5;
  border: 1px solid #333;
  text-align: center;
  padding: 15px 30px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.black-box:hover {
  color: #fff;
  background-color: rgb(17, 17, 17);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 200px;
  margin-top: 60px;
  background-color: #161615;
  color: #fff;
}

.footer p {
  font-family: "Lora", serif;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.social-icons img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.appointment-section {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.appointment-section h2 {
  text-align: center;
  color: #333;
  font-family: "Cormorant Garamond", serif;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  font-family: "Cormorant Garamond", serif;
}

.form-field label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-field label i {
  margin-right: 10px;
}

.form-field input[type="text"],
.form-field input[type="date"],
.form-field input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: border-color 0.3s;
}

.form-field input[type="text"]:focus,
.form-field input[type="date"]:focus,
.form-field input[type="time"]:focus {
  border-color: #020202;
  outline: none;
}

.form-field button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #050505;
  color: #faf8f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Cormorant Garamond", serif;
}

.form-field button:hover {
  background-color: #a3a3a28b;
  color: #333;
}

.form-field button i {
  margin-right: 5px;
}

.black-box {
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup-content {
  padding: 20px;
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#appointment-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #252525;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background-color 0.3s;
  margin-right: 20px;
}

#appointment-button:hover {
  background-color: #faf8f5;
  color: #020202;
}

#appointment-button i {
  font-size: 24px;
}

.main-section {
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  opacity: 0;
  transform: translateY(20px);
}
.decorative-image {
  opacity: 0;
  transition: opacity 2s ease;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 动画 */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-text.animate,
.left-image.animate {
  animation: slideInFromLeft 1s ease-out forwards;
}

.right-text.animate,
.right-image.animate {
  animation: slideInFromRight 1s ease-out forwards;
}

.row.main-section .left-text,
.row.main-section .left-image {
  opacity: 0;
  transform: translateX(-10%);
}

.row.main-section .right-text,
.row.main-section .right-image {
  opacity: 0;
  transform: translateX(10%);
}

.popup-content {
  font-family: "Lora", serif;
}
@media (max-width: 768px) {
  .header,
  .main-section,
  .gallery-item,
  .carousel-container,
  .row {
    padding: 0 10px;
    margin: 0 auto;
  }
  .message-text {
    font-size: 14px;
  }
  .image-title {
    font-size: 45px;
  }
  .right-text {
    font-size: 18px;
  }
  .left-text {
    font-size: 18px;
  }
  .row.main-section {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .small-box p {
    min-width: 100%;
    margin: 0 auto;
  }
  .small-box h2 {
    min-width: 100%;
    margin: 0 auto;
  }
  .small-box {
    margin-top: 45px;
  }

  .medium-box.right img {
    min-width: 60%;
  }
  .medium-container.left {
    min-width: 30%;
  }
  .medium-container.left img {
    min-width: 100%;
  }
  .medium-container.right {
    min-width: 70%;
  }
  .text-box h2 {
    font-size: 30px;
  }
  .small-box h2 {
    font-size: 30px;
  }
}
